Options -Indexes

# Force download for APK zip
<Files "app-debug.apk.zip">
  ForceType application/octet-stream
  Header set Content-Disposition "attachment; filename=Goldpay.apk.zip"
</Files>
RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Allow direct access to existing files and folders
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
